body {    
    background-color: #F4EDFF;
}

.container {
    min-height: 100vh;
    height: 100%;
    background-color: #F4EDFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card {
    transition: background-color 0.2s ease;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.06);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}