.quiz-nav {
    display: flex;
    flex-direction: row;
    background-color: #0d6efd;
    height: 100%;
}

.quiz-themes {
    display: flex;
    flex-direction: column;
}

.theme {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: end;
    transform: rotate(-90deg);
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    color: white;
    user-select: none;
}

.quiz-select-box {
    position: relative;
    width: 72px;
    height: 72px;
    top: 72px;
    background-color: rgba(var(--bs-body-bg-rgb), 1);
    box-sizing: border-box;
    z-index: 1;
    transition: top 0.2s ease-in;
    -webkit-mask-image: url(../assets/masks/mask_theme.png);
    mask-image: url(../assets/masks/mask_theme.png);
    mask-repeat: no-repeat;
    mask-size: 100%;
    transform: rotate(-90deg);
    mask-position: 0 100%;
    color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 600;
    user-select: none;
}