.quiz-nav {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    height: 100%;
}

.quiz-themes {
    display: flex;
    flex-direction: column;
}

.theme {
    width: 72px;
    height: 72px;
    background-color: yellow;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: end;    
    transform: rotate(-90deg);
    box-sizing: border-box;
    cursor: pointer;
}

.quiz-select-box {
    position: absolute;
    width: 72px;
    height: 72px;
    background-color: rgb(255, 0, 0, 0.5);
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 1;
}